ul.sourceTypeslist{
    text-align: center;
    list-style-type: none;
    background-color: #fff;
    height: 200px;
    /*width: 581px;*/
    margin: 8px 0 0;
    padding: 35px 0 25px;

}
ul.sourceTypeslist>li{
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    height: 90%;
    border: none;
    text-align: center;
    /*border-left: 1px dashed #cdcdcd;*/
}
ul.sourceTypeslist>li.list1{
    border-right:1px dotted #dddddd;
}
ul.sourceTypeslist>li>span{
    display: block;
    font-size: 12px;
    text-align: center;
    color: #0E8FE8;
}