.rt{
    float: right;
}
.lf{
    float: left;
}
.edit{
    display: none;
    position:absolute;
    top:50%;
    left: 50%;
    margin: -175px 0 0 -250px;
    z-index: 1000;
    width: 500px;
    height: 350px;
    border: 1px solid #dbdbdb;
    border-radius:5px;
    box-shadow: 0px 0px 10px #dddddd;
    background: #FFFFFF;
}
.edit-title{
    height: 32px;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
}
.title-remove{
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    color: #dbdbdb;
    top: 0px;
    right: 10px;
    cursor: pointer;
}
.edit-body{
    height: 250px;
    /*line-height: 250px;*/
    border-bottom: 1px solid #dbdbdb;
    position: relative;
}
.edit-info{
    color: #dbdbdb;
    margin: 5px;
}
.edit-body-content{
    width: 400px;
    height: 200px;
    overflow: auto;
    border:1px dotted #dbdbdb;
    position: absolute;
    top: 25px;
    left: 50px;
}
.content-remove{
    color:#0E8FEA;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
.content-remove:hover{
    color: #dbdbdb;
}
.edit-sure{
    margin: 12px 25px 0px 6px;
    height: 34px;
}
.footer-text{
    margin-top: 12px;
    height: 34px;
    width: 200px;
    outline: none;
}
/*create*/
ul{
    list-style-type: none;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
a{
    text-decoration: none;
}
.modal-dialog{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1040;
    font-family: "微软雅黑";
    font-size: 14px;
    /*display: none;*/
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.fadeIn{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1040;
    background: #333;
    opacity: 0.5;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-content{
    z-index: 1090;
    height: 550px;
    width: 524px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -275px 0 0 -262px;
}
.content{
    min-height: 140px;
    margin-bottom: 10px;

}
.dsg-modal-header{
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
}
.dsg-modal-body{
    position: relative;
    padding: 15px;
}
.content input{
    display: inline-block;
    height: 30px;
    width: 100%;
    line-height: 30px;
    font-family: "微软雅黑";
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #DBDBDB;
}
.content-wrap{
    border: 1px solid #DBDBDB;
    overflow: auto;
    height: 110px;
    margin-bottom: 10px;
}
.content-text{
    min-height:90px ;
    margin: 5px;
    font-size: 16px;
    outline: none;
}
.fun-select{
    width: 220px;
    height: 30px;
    line-height: 30px;
    position: relative;
    /*display: none;*/
    /*border: 1px solid red;*/
}
.fun-list,.fun-desc{
    margin-top: 10px;
    width: 230px;
}
.fun-select>select{
    display: inline-block;
    width: 186px;
    height: 30px;
    outline: none;
    border: 1px solid #DBDBDB;
}
.fun-select>span{
    border: 1px solid #DBDBDB;
    width: 33px;
    margin: -12px 0 -11px -6px;
    height: 30px;
    position: absolute;
    right: 2px;
    top: 12px;
    font-size: 18px;
    line-height: 29px;
    text-indent: 7px;
    cursor: pointer;
}
.fun-txt,.desc-serch{
    /*display: none;*/
    width: 218px;
    height: 30px;
    line-height: 30px;
    outline: none;
    border: 1px solid #DBDBDB;
}
.fun-txt{
    display: none;
}
.create-list-group,.create-panel-group{
    height: 180px;
    width: 218px;
    border: 1px solid #DBDBDB;
    margin-top: -1px;
    overflow: auto;
}
.create-list-group>li{
    margin-top: 5px;
}
.create-list-group>li:hover{
    height: 20px;
    background: #dddddd;
}
/**模态框脚步***/
.dsg-modal-footer{
    line-height: 30px;
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-backdrop.in{
    z-index: 0;
    opacity: .2;
}