
body,ul,li,a,span,ol,div,nav,header,footer,button,p,form{
    margin: 0;
    padding: 0;

}
body{
    font-family: "微软雅黑";
    width: 100%;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
}
.rt{
    float:right;
}
.lf{
    float: left;
}
.cl{
    clear: both;
}
.navbar-fixed-top{
    background: #fff;
    /*border-bottom: 1px solid #9d9d9d;*/
    height: 50px;
    line-height: 50px;
    border: 1px solid #dddddd;
}
/*导航条部分*/
#list{
    list-style-type: none;
    text-align: center;
    height: 50px;
    margin-right: 10px;
}
#list>li>a{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 80px;
    font-size: 14px;
    text-decoration: none;
}
#list>li>a:hover{
    border: 1px solid #9d9d9d;
    border-top: 3px solid #0E8FE8;
    border-bottom:0;
    background: #F8F8F8;
    color: #333333;
    z-index: 50;
}
#list>li:hover>ul {
    display: block;
}
#list>li{
    position: relative;
    float: left;
    width: 80px;
    height: 50px;
}
#list>li>ul{
    overflow:hidden;
    border: 1px solid #9d9d9d;
    background: #F8F8F8;
    border-top: 0px;
    width: 130px;
    height: auto;
    position: absolute;
    top: 49px;
    right: 0px;
    display: none;
}
#list>li>ul>li{
    text-align: center;
    width: 130px;
    height: 40px;
}
#list>li>ul>li>a{
    display: inline-block;
    width: 130px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
#list>li>ul>li>a:hover{
    background: #ffffff;
    text-decoration: none;
}
#navList{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #009DDC;
    border-radius: 50%;
    color: #fff;
}
/*<!--页脚部分-->*/
.footer{
    text-align: center;
    margin-bottom: 10px;
}
.footer>p{
    font-size: 12px;
    hieght:30px;
    line-height: 30px;
}
.footer>a.rt{
    width: 48px;
    height: 48px;
    background: url(../../images/heloques.png);
    position: fixed;
    bottom: 0px;
    outline: none;
    border: 0px;
    right: 3px;
    padding: 6px;
    z-index: 998;
    cursor: pointer;
    opacity: 1;
}
body{
    background: #F9F9F9;
    min-width: 1200px;
}
.dsg-mian{
    position: relative;
    top: 60px;
    min-width: 1200px;
    padding: 10px;
}
/********左边部分**********/
.dsg-left{
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
    width: 220px;
    border: 1px solid #dcdcdc;
    min-height: 548px;
    background: #fff;
    display: inline-block;
}
.dsg-left>.dsg-left-main>ul{
    width: 100%;
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    background: #eee;
}
.dsg-left>.dsg-left-main>ul>li{
    width: 33.3%;
    text-align: center;
}
.dsg-left>.dsg-left-main>ul.nav-tabs>li>a{
    border: 0px;
    display: inline-block;
    text-decoration: none;
    height: 30px;
    width: 100%;
    line-height: 30px;
    padding: 0px;
}
.heightAll{
    /*height: calc(100% - 32px);*/
    padding-top: 10px;
    /*overflow: auto;*/
    /*overflow-x: hidden;*/
    /*overflow-style: marquee;*/
    /*overflow-x: hidden;*/
}
.dsg-search{
    margin: 0 10px;
    height: 32px;
    line-height: 28px;
    width: 198px;
    border: 1px solid #cccccc;
    position: relative;
    box-sizing: border-box;
}
#search{
    border: 0px;
    outline: none;
}
.search{
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 7px;
}
.dsg-group-theme{
    width: 208px;
    /*padding-left: 10px;*/
}
.dsg-group-theme>li{
    margin-top: 10px;
    text-align: left;
    position: relative;
}
.drag-rename{
    position: absolute;
    top: 2px;
    left: 20px;
    display: none;
    /*z-index: 10;*/
}
.drag-rename>input{
    outline: none;
}
.drag-rename>img{
    position: absolute;
    top: 8px;
    right: 3px;
    cursor: pointer;
}
.dsg-group-scroll{
    height: 474px;
    overflow: auto;
    overflow-x: hidden;
}
.addData{
    display: none;
    width: 110px;
    height: 150px;
    position: relative;
    top: 130px;
    left:54px;
    background-image: url(../../images/dataAnalysis/addMyDataDef.png);
    background-size: 90%;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 110px;
    cursor: pointer;
}
.addData:hover{
    color: #009DDC;
    background-image:url(../../images/dataAnalysis/addData.png);
}
.dragName{
    margin: 0 10px;
    height: 30px;
    line-height: 30px;
    width: 198px;
    background: #009DDC;
    position: relative;
    box-sizing: border-box;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
}
.dsg-myData{
    text-overflow:ellipsis;
    white-space:nowrap;
    width: 150px;
    display: inline;
    cursor: pointer;
    overflow: hidden;
    font-size: 14px;
    color: #fff;
}
.btn-group{
    cursor: pointer;
    position: absolute;
    right: 10px;
}
.dataName{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}
.coll{
    position: relative;
    width: 198px;
    margin-top: 10px;
    margin: 10px 10px;
}
.coll>li>span{
    font-size: 13px;
    font-weight: bold;
}
/*******维度*********/
.group-second-body{
    height: 30px;
    line-height: 45px;
    /*margin-top: 5px;*/
    position: relative;
}
.group-second-body>span.icon{
    float: left;
    font-size: 12px;
    width: 24px;
    hieght:26px;
    line-height: 26px;
    vertical-align: middle;
    text-align: center;
    color: #009ddc;
    border: 1px solid transparent;
    cursor: pointer;
}
.group-second-body>span.icon:hover{
    border: 1px solid #009ddc;
}
.group-second-body>div.group-item{
    display: inline-block;
    position: relative;
    border-radius: 2px;
    border: 1px solid transparent;
    line-height: 22px;
    height: 25px;
    width: 171px;
}
.group-second-body>div.group-item>a{
    color: #333;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    text-overflow:ellipsis;
    white-space:nowrap;
    width: 150px;
    height: 25px;
    outline: none;
    overflow: hidden;
}
.group-second-body>div.group-item:hover{
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #F9F9F9;

}
.btnG{
    position: absolute;
    top: 0px;
    right: 6px;
    color:#fff;
}
.group-second-body>div.group-item:hover>.btnG{
    display: block;
    opacity: 1;
    color: #CDCDCD;
}
.move{
    border: 1px solid #0071c5;
    border-radius: 3px;
    background: #d2d2d2;
    opacity: 0.5;
    color: #006600;
    height: 30px;
    line-height:30px;
    position: absolute;
    z-index:1000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
}
.list-sure{
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    color: blue;
}
.group-item-form{
    display: none;
}
.group-item-txt{
    width: 169px;
    height: 25px;
    padding-right:14px;
    outline: none;
    position: relative;
    top: -9px;
}
/*****中间部分******/
.dsg-center{
    height: 100%;
    width: calc(100% - (245px));
    /*background:#FFFFFF ;*/
    padding: 0;
    margin: 0;
    /*border: 1px solid #000;*/
    min-height: 550px;
    vertical-align: top;
    display: inline-block;
}
.dsgtabs-cont{
    height: calc(100% - 42px);
    min-height: 507px;
    border: 1px solid #dcdcdc;
    border-top: 0px;
    border-bottom:0px ;
    position: relative;
}
/******四个div*******/
.dsgtabs-head{
    border-bottom: 1px solid #ddd;
    border-top: 0px;
    /*padding-bottom: 10px;*/
    background:#FFFFFF ;
}
.col-md-6{
    height: 30px;
    line-height: 30px;
    margin: 10px 0px;
    padding: 0px;
    position: relative;
}
.dsgmodel-label{
    display: inline-block;
    width: 48px;
    position: absolute;
    left: 9px;
}
.row-content{
    border: 1px dotted #999;
    display: inline-block;
    width: 450px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    left: 48px;
    background: #fff;
    border-radius: 2px;
}
/******行列互换******/
.exchange{
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: -20px;
}
.exchange:hover{
    color: #009DDC;
}
/*******重置*********/
.remove{
    position: absolute;
    top: 0px;
    right: 0px;
    color: #009DDC;
    cursor: pointer;
}
/***标记***/
.col-md-3{
    text-align: center;
    height: 30px;
    border-right:1px dotted #ddd;
}
.drag-show{
    border-right: 1px solid #dcdcdc;
    height: 457px;
    background: #fff;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    border-bottom: 1px solid #dcdcdc;
    display: inline-block;
}
.drag-view{
    height: 457px;
    position: relative;
    padding: 1px
}
.drag-show-view{
    width: calc(100% - 2px);
    display: none;
    /*margin-left: 10px;*/
    height:calc(100% - 12px) ;
    overflow: auto;
    position: relative;
}
.pit-show{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    min-width: 875px;
    min-height: 457px;
}
.analyseResult{
    height: 170px;
    width: 470px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: #dcdcdc;
    font-size: 18px;
}
.drag-photo{
    border: 1px solid #ddd;
    border-top: 0px;
    border-right: 0px;
    height: 457px;
    float: right;
    margin: 0px;
    padding: 0px;
    width: calc(16% - 12px);
    /*margin-left: 20px;*/
    background: #fff;
}
/*****动态添加下拉菜单**********/
.list-down{
    width: 170px;
    height: auto;
    border: 1px solid #dddddd;
    background: #FFFFFF;
    border-radius: 5px;
}
.list-down>li>a{
    color: #428bca;
    font-size: 14px;
    text-decoration: none;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 5px 0px;
    padding-left: 15px;
}
.list-down>li>a:hover{
    background: #dbdbdb;
}
.caret{
    cursor:pointer;
}
.dropMove{
    list-style-type: none;
    float: left;
    height: 24px;
    margin: 2px 0px;
    cursor:pointer;
    text-align:center;
    line-height: 24px;
    text-overflow:ellipsis;
    white-space:nowrap;
    width: 100px;
    overflow: hidden;
    background:#F6EEDB;
    text-decoration: none;
    margin-left:3px;
    border-radius:2px;
    padding-right:10px;
}
.dropDrag{
    cursor:move;
    text-align:center;
    hieght:24px;
    line-height: 24px;
    text-overflow:ellipsis;
    white-space:nowrap;
    width: 100px;
    overflow: hidden;
    background:#F6EEDB;
}
#freqently{
    /*text-align: center;*/
}
#freqently>div{
    display: inline-block;
    cursor: pointer;
    width: 30px;
    text-align:center;
    height: 30px;
    line-height: 28px;
    margin: 5px 0px 0px 5px;
    background-color: #F2F2F2;
}
#freqently>div>img{
    width: 22px;
}