#fadeIn{
    /*display: none;*/
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000000;
    opacity: 0.5;
    z-index: 1000;
}
#task-modal{
    /*display: none;*/
    width: 800px;
    height: 400px;
    overflow: auto;
    background: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1003;
    margin: -200px 0px 0px -400px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 5px;
}
.task-foot{
    height: 40px;
    line-height: 40px;
    text-align: right;
}
.task-foot>a{
    margin-right: 10px;
}